name: flutter_application_ujicobauts2
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1
  cupertino_icons: ^1.0.8
  provider: ^6.0.5
  firebase_core: ^2.4.1
  fl_chart: ^0.64.0
  intl: ^0.19.0   # â† tambahkan baris ini



dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
